{% extends 'base.html'%}

{% block content %}

<div class="col-mid-14 offset-md-0.5" >

    {% if user.is_authenticated %}

    <h1>Courses Offered</h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Semester Offered</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
                {% if course_records %}
                {% for record in course_records %}
                <tr>
                    <td>{{record.courseid}}</td>
                    <td>{{record.coursename}}</td> 
                    <td>{{record.semester}} </td>
                    <td>{{record.startdate}} </td>
                    <td>{{record.enddate}} </td>
                </tr>
                {% endfor %}
            {% endif %}
           
        </tbody>
    </table>


    {% else %}
    <h1>LOGIN</h1>
    <br/>
    <form method="POST" action="{% url 'home'%}">

        {% csrf_token %}
        
            <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder='Username' required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
        

    </form>

    {% endif %}

</div>


{% endblock %}